---
import TerminalEmbed from '../components/TerminalEmbed.svelte'
import '../styles/iframe.css'
---

<!doctype html>
<html lang='en' data-wbav-boot='pending'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>WBAV</title>
  </head>

  <body>
    <TerminalEmbed client:load />
  </body>
</html>
