<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Fingerprint Web Bot Auth Verification</title>
    <meta
      name='description'
      content='Real cryptographic verification for Web Bot Auth using RFC 9421 HTTP Message Signatures.'
    />
    <meta property='og:title' content='Fingerprint Web Bot Auth Verification' />
    <meta
      property='og:description'
      content='Real cryptographic verification for Web Bot Auth using RFC 9421 HTTP Message Signatures.'
    />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://fingerprint.com/web-bot-auth/test' />
    <meta property='og:image' content='/og.gif' />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
